.discussion_main_block {
  display: flex;
  height: auto;
  flex-direction: column;
  background-color: red;
}

.discussion__main_item {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 11vh;
  width: 45vw;
  border-radius: 25px;
  background-color: #fff;
  -webkit-box-shadow: 1px 7px 8px -4px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 1px 7px 8px -4px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 7px 8px -4px rgba(34, 60, 80, 0.2);
  transition: 0.5s ease;
}
.discussion__main_item:hover {
  background-color: #e7e7e7;
  transition: 0.2s ease;
}

.discussion__main_item__poster {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 100px;
}

.discussion__main_item__name {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 80%;
  width: 80%;
}

.item__title_text {
  font-size: 1.5em;
  font-family: "Rubik", sans-serif;
}

.item__title_btn-delete {
  transform: rotate(45deg);
  position: relative;
  cursor: pointer;
}
.item__title_btn-delete:before {
  content: "+";
  color: #3a4257;
  font-size: 50px;
  transition: all 0.5s ease;
}
.item__title_btn-delete:hover:before {
  color: darkred;
}
