.messangerPage {
    display: flex;
    flex-direction: row;
    width: 98vw;
}

.messanger__content {
    width: 100%;
}

.messanger-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-color: #f0ddbc;
}
.messanger-header span {
    font-size: 1.7em;
}
.messanger-header img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.messanger-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow-y: scroll;
    height: 80vh;
    width: 100%;

}
.messanger-useablity {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11vh;
    width: 100%;
    -webkit-box-shadow: 0px 1px 8px 3px rgba(58, 66, 87, 0.2);
    -moz-box-shadow: 0px 1px 8px 3px rgba(58, 66, 87, 0.2);
    box-shadow: 0px 1px 8px 3px rgba(58, 66, 87, 0.2);
    background-color: #f0ddbc;
    border-radius: 0 0 10px 10px;
}

.file{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 7%;


}
.file img{
    height: 100%;
    width: 70%;
    object-fit: cover;
    transition: 0.5s ease;
    cursor: pointer;
    border-radius: 7px;
    background-color: #f0ddbc;
    box-shadow: inset rgb(129, 118, 98) 0 0 4px 2px
}

.file img:hover {
    background-color: #dccaa9;
    transition: 0.5s ease;
}
.file img:active{
    height: 90%;
    width: 65%;
    transition: 0.1s ease;
    box-shadow: inset 0 0 7px 1px rgb(81, 63, 19)
}
.message{
    margin: 15px;
    height: 9vh;
    width: 60%;
    outline: none;
    border: none;
    resize: none;
    font-size: 1.5em;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s ease;
}

.message:focus {
    -webkit-box-shadow: 0px 1px 8px 3px rgba(58, 66, 87, 0.2);
    -moz-box-shadow: 0px 1px 8px 3px rgba(58, 66, 87, 0.2);
    box-shadow: 0px 1px 8px 3px rgba(58, 66, 87, 0.2);
    transition: 0.5s ease;
}

.messageContent__block {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 10vh;
    width: 100%;
    background-color: lightgrey;
}

.messageContent__block_author {
    height: 3vh;
    width: 100%;
    font-size: 1.2em;
    font-weight: 700;
}
.messageContent__block_body {
    height: 3vh;
    width: 100%;
    font-size: 1.5em;

}
.messageContent__block_date {
    height: 3vh;
    width: 100%;
    font-size: 1em;
}

.messanger__content button{
    cursor: pointer;
    border-radius: 7px;
    padding: 10px;
    min-height: 3vh;
    min-width: 5vw;
    outline: none;
    border: none;
    background-color: #F0DDBCFF;
    transition: 0.5s ease;
    box-shadow: inset rgb(129, 118, 98) 0 0 4px 2px
}

.messanger__content button:hover {
    background-color: #dccaa9;
    transition: 0.5s ease;
}

.messanger__content button img {
    object-fit: cover;
    height: 35px;
    width: 25px;
}

.messanger__content button:active{
    min-height: 1.9vh;
    min-width: 4.9vw;
    transition: 0.1s ease;
    box-shadow: inset 0 0 7px 1px rgb(81, 63, 19)
}

